:root {
    --originalColor: #5d5d5d;
    --originalBackground: rgb(196, 183, 183);
    --newColor: #f02a2a;
    --newBackground: rgba(196, 183, 183, 0.767);
    --gridBackground: rgb(212, 212, 212);
    --gridExternalBorder: rgb(50, 50, 56);
    --gridInternalBorder: rgb(170, 182, 207);
}

body{
    background-color: #242424 !important;
}

.newGrid {
    background-color: var(--gridBackground);
    border: 3px solid var(--gridExternalBorder);
}

.cardTitle {
    padding: 10px;
}

.cardDescription {
    background-color: var(--gridBackground);
    border-top: 1px solid var(--gridInternalBorder);
    text-align: center;
    text-wrap: wrap;
    align-content: center;
    margin: 0px;
}

.cardAction {
    margin: 0px;
    padding-top: 10px;
    text-align: center;
    border-left: 1px solid var(--gridInternalBorder);
    border-top: 1px solid var(--gridInternalBorder);
}

.cardContainer {
    border-left: 1px solid var(--gridInternalBorder);
}

.codeCSS {
    color: black;
    padding: 20px 0px 20px 0px;
    margin: 0px;
    border-left: 1px solid var(--gridInternalBorder)
}

.emphasis {
    color: rgb(194, 50, 50);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card Colors */
.card {
    margin: 50px;
    border-radius: 20px !important;
}

.cardOriginal {
    background-color: var(--originalBackground) !important;
    border: 4px dashed var(--originalColor) !important;
}

.cardNew {
    background-color: var(--newBackground) !important;
    border: 4px dashed var(--newColor) !important;
    position: absolute !important;
}

/* SVG Colors */
.SVG {
    height: 150px;
    width: 150px;
}

.SVGOriginal {
    fill: var(--originalColor);
    stroke: var(--originalColor);
}

.SVGNew {
    fill: var(--newColor);
    stroke: var(--newColor);
}