:root {
    --gridBackground: rgb(212, 212, 212);
    --gridExternalBorder: rgb(50, 50, 56);
    --gridInternalBorder: rgb(170, 182, 207);
}

body {
    background-color: #242424 !important;
}

.newGrid {
    background-color: var(--gridBackground);
    border: 3px solid var(--gridExternalBorder);
}

.cardTitle {
    padding: 10px;
}

.cardDescription {
    background-color: var(--gridBackground);
    border-top: 1px solid var(--gridInternalBorder);
    text-align: center;
    text-wrap: wrap;
    align-content: center;
    margin: 0px;
}

.cardAction {
    margin: 0px;
    padding-top: 10px;
    text-align: center;
    border-left: 1px solid var(--gridInternalBorder);
    border-top: 1px solid var(--gridInternalBorder);
}

.cardContainer {
    border-left: 1px solid var(--gridInternalBorder);
}

.codeCSS {
    color: black;
    padding: 20px 0px 20px 0px;
    margin: 0px;
    border-left: 1px solid var(--gridInternalBorder)
}

.emphasis {
    color: rgb(194, 50, 50);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


