/* SVG */
.startReactSVG {
    background-color: rgb(65, 63, 63);
    fill: rgb(119, 147, 201);
    transform: rotateY(5deg);
}

.endReactSVG {
    background-color: rgb(204, 204, 204);
    fill: rgb(201, 119, 119);
    transform: rotateX(35deg) ;
}

.hover {
    border: 2px solid black;
    border-radius: 5px;
    margin: 6px !important;
    padding: 15px 0px;
}

.backgroundColorChange {
    background-color: rgb(65, 63, 63);
    fill: rgb(119, 147, 201);
    transform: rotateY(5deg);
    transition-property: background-color;
    transition-duration: 1s;
}

.hover:hover .backgroundColorChange {
    background-color: rgb(204, 204, 204);
}

.fillChange {
    background-color: rgb(65, 63, 63);
    fill: rgb(119, 147, 201);
    transform: rotateY(5deg);
    transition-property: fill;
    transition-duration: 1s;
}

.hover:hover .fillChange {
    fill: rgb(201, 119, 119);
}

.transformChange {
    background-color: rgb(65, 63, 63);
    fill: rgb(119, 147, 201);
    transform: rotateY(5deg);
    transition-property: transform;
    transition-duration: 1s;
}

.hover:hover .transformChange {
    transform: rotateX(35deg) translateY(-30px);
}

.combineChange {
    background-color: rgb(65, 63, 63);
    fill: rgb(119, 147, 201);
    transform: rotateY(5deg);
    transition-property: background-color, fill, transform;
    transition-duration: 1s;
}

.hover:hover .combineChange {
    background-color: rgb(204, 204, 204);
    fill: rgb(201, 119, 119);
    transform: rotateX(35deg) translateY(-30px);
    transition-duration: 1s;
}