/* TRANSLATION DESCRIPTIONS */
#translateX {
    transform: translateX(100px);
}

#translateY {
    transform: translateY(25px);
}

#translate {
    transform: translate(100px, 25px);
}

#rotate {
    transform: rotate(45deg);
}

#scaleX {
    transform: scaleX(1.2);
}

#scaleY {
    transform: scaleY(.8);
}

#scale {
    transform: scale(1.2, .8);
}

#skewX {
    transform: skewX(45deg);
}

#skewY {
    transform: skewY(-20deg);
}

#skew {
    transform: skew(45deg, -20deg);
}











/* 3D Style */
.card3dContainer {
    height: 500px;
    width: 500px;
    border: 3px solid black;
    margin: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.x {
    height: 494px;
    width: 494px;
    background-color: blue;
    position: absolute;
    transform: rotateX(90deg);
    opacity: .2;
    transform-style: preserve-3d;

}

.y {
    height: 494px;
    width: 494px;
    background-color: yellowgreen;
    position: absolute;
    transform: rotateY(80deg);
    opacity: .2;
    transform-style: preserve-3d;
}

.z {
    height: 494px;
    width: 494px;
    background-color: red;
    position: absolute;
    opacity: .2;
    transform-style: preserve-3d;
}

.axis {
    position: absolute;
    transform: rotateX(30deg) rotateY(30deg);
    transform-style: preserve-3d;
}