/* TRANSLATION DESCRIPTIONS */
#translateX {
    transform: translateX(100px);
}

#translateY {
    transform: translateY(25px);
}

#translate {
    transform: translate(100px, 25px);
}

#rotate {
    transform: rotate(45deg);
}

#scaleX {
    transform: scaleX(1.2);
}

#scaleY {
    transform: scaleY(.8);
}

#scale {
    transform: scale(1.2, .8);
}

#skewX {
    transform: skewX(45deg);
}

#skewY {
    transform: skewY(-20deg);
}

#skew {
    transform: skew(45deg, -20deg);
}

